html, body {
  width: 200px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.drag:hover, .export:hover, .import:hover {
  background-color: #CFF2F2;
}

.drag, .export, .import {
  background-color: #F2F2D0;
}
